/* Styles go here */
.sprite {
    background: url("cards_sprite.png") no-repeat;
}
.card {
    width:79px;
    height: 123px;
    display: inline-block;
    background-position: -158px -492px;
    margin-right: -64px;
}
.card:last-child {
    margin-right: 0px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 12px;
    cursor: pointer;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

#stand-button {
    background-color: red;
}
#end-game-button {
    background-color: red;
}

#buttons {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hit-button {
    margin-left: 120px;
    margin-right: 120px;
}

#stand-button {
    margin-left: 120px;
    margin-right: 120px;
}

#new-game-button {
    margin-left: 120px;
    margin-right: 120px;
}

#end-game-button {
    margin-left: 120px;
    margin-right: 120px;
}

#dealersHand {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playersHand {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dealerRow {
    position: relative;
}

#dealerScore {
    position: absolute;
    top: 32%;
    right: 33.5%;
}

#playerRow {
    position: relative;
}

#playerScore {
    position: absolute;
    top: 32%;
    right: 33.5%;
}